<ul class="flex gap-2">
  <li>
    <a href={""} target="_blank"
      ><img
        class="invert-30"
        src={"/svg/github.svg"}
        width={30}
        height={30}
        alt="Logo GitHub"
      /></a
    >
  </li>
  <li>
    <a href={""} target="_blank"
      ><img
        class="invert-3e0"
        src={"/svg/linkedin.svg"}
        width={30}
        height={30}
        alt="Logo Linkedin"
      /></a
    >
  </li>
</ul>
