<ul class="flex gap-3">
  <li>
    <a
      href="https://github.com/"
      target="_blank"
      rel="noreferrer"
      class="flex h-11 w-11 items-center justify-center rounded-xl border border-[var(--border-color)] bg-white/5 transition hover:-translate-y-[2px] hover:border-[var(--accent)]"
      aria-label="GitHub"
    >
      <img
        class="invert-30"
        src={"/svg/github.svg"}
        width={26}
        height={26}
        alt="Logo GitHub"
      />
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/"
      target="_blank"
      rel="noreferrer"
      class="flex h-11 w-11 items-center justify-center rounded-xl border border-[var(--border-color)] bg-white/5 transition hover:-translate-y-[2px] hover:border-[var(--accent)]"
      aria-label="LinkedIn"
    >
      <img
        class="invert-3e0"
        src={"/svg/linkedin.svg"}
        width={26}
        height={26}
        alt="Logo Linkedin"
      />
    </a>
  </li>
</ul>
