---
import SocialMediaBtns from "../buttons/SocialMediaBtns.astro";
---

<section
  class="pt-20 lg:w-[1200px] m-auto px-5 md:px-40 flex flex-col gap-7 text-center"
>
  <div>
    <h3 class="text-2xl italic font-medium">Sigamos en contacto</h3>
    <p class="pt-2">
      Si necesitas más detalles sobre mi trabajo o deseas colaborar en un
      proyecto, estaré encantado de atenderte. Escríbeme a través de:
    </p>
  </div>
  <div class="md:text-3xl flex flex-col gap-4 font-bold items-center">
    <a class="flex gap-2 items-center">
      <img src="/svg/mail.svg" alt="icono correo" />
      <p>trabajoluisaraya@gmail.com</p>
    </a>
    <a class="flex gap-2 items-center">
      <img class="" src="/svg/phone.svg" alt="icono celular" />
      <p>+56974022976</p>
    </a>
  </div>
  <div class="">
    <p>También puedes encontrarme en estas plataformas</p>
    <div class="flex justify-center"><SocialMediaBtns /></div>
  </div>
</section>
