---
import SocialMediaBtns from "../buttons/SocialMediaBtns.astro";
---

<section
  id="welcome"
  class="lg:w-[1200px] px-5 m-auto pt-40 flex flex-col-reverse gap-10 sm:flex-row"
>
  <div>
    <div>
      <h1 class="text-2xl text-stone-800 sm:text-5xl font-semibold">
        Luis Patricio Araya
      </h1>
      <p class="pt-4">
        Soy Ingeniero Informático con experiencia en desarrollo web moderno,
        automatización de tareas y asesoría tecnológica a PYMES. Me especializo
        en crear soluciones eficientes usando herramientas como React, Next.js,
        Python y n8n.
        <br /><br />Me gusta entender cómo mejorar procesos a través del
        software, y me entretienen los desafíos que me hacen pensar.
        <br /><br />En mi tiempo libre sigo explorando tecnologías nuevas,
        organizando ideas para proyectos propios, y compartiendo conocimiento.
      </p>
    </div>
    <div class="pt-8">
      <ul>
        <li class="flex gap-2 items-center">
          <img
            class="invert-25"
            src="/svg/location.svg"
            alt="Logo de ubicación "
            width={30}
            height={30}
          />
          <p>IV ,Chile.</p>
        </li>
        <li class="flex gap-2 items-center">
          <span class="w-[30px] text-center text-green-400">●</span>
          <p>Disponible, en busqueda laboral.</p>
        </li>
      </ul>
    </div>
    <div class="pt-8">
      <SocialMediaBtns />
    </div>
  </div>
  <div>
    <div class="bg-gray-500 w-auto lg:w-[400px] lg:h-[500px]">
      <img
        src="me.jpeg"
        class="bottom-5 w-[90%] m-auto lg:w-[400px] lg:h-[500px] relative sm:bottom-8 sm:right-8 border-4 sm:border-8 border-white"
        alt="Fotografia Luis Araya"
      />
    </div>
  </div>
</section>
